* {
    position: static;
}
:root {
    background-color: rgb(120, 120, 120);
    position: static;
}
body {
    padding: 5% 20% 5%;
    font: bold 2rem sans-serif;
}


/* Mems-group */
.mems-group *{
    color: #000;
    cursor: pointer;
}
.mems-group:hover .pointer {
    display: block;
}
.mems-group:hover .pointer2 {
    display: none;
}
.mems-group:hover * {
    color: #ffdb1f;
}

/* mems-group-element */
.mems-group-element {
    align-items: center;
    cursor: pointer;
    border-top: solid 0.2px white;
    padding: 1rem 0 1rem;
}
.mems-group-element:hover .meme-img{
    display: block;
    animation:fadeIn ease-in 0.5s;
    -webkit-animation:fadeIn ease-in 0.5s;
    -moz-animation:fadeIn ease-in 0.5s;
}
.mems-group-element:hover .mems-label{
    color: black;
}
.mems-input:checked  ~ .mems-label>.meme-img {
    display: block;
}
.mems-input:checked  ~ .mems-label {
    color: #ffdb1f;
}

.mems-input:checked ~ .mems-label .pointer {
    display: none;
}
.mems-input:checked ~ .mems-label .pointer2 {
    display: block;
}
.mems-group-element:hover .pointer {
    transform: rotate(-90deg);
    transition: 1s;
}
.mems-group-element>input {
    display: none;
    width: 0;
    height: 0;
}
.mems-label {
    display: block;
}
.pointer, .pointer2{
    width: 2.2rem;
    height: 2.2rem;
    float: right;
    display: none;
}
.meme-img {
    display: none;
    text-align: center;
    margin-top: 1rem;
}
.meme-img>img {
    width: 15rem;
    height: 15rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media screen and (max-width: 1920px) {
    main {
        font-size: 1.1rem;
    }
    body {
        padding: 5% 15% 5%;
    }
    .meme-img>img {
        width: 20rem;
        height: 20rem;
    }
    .pointer, .pointer2 {
        width: 1.2rem;
        height: 1.2rem;
    }
}
@media screen and (max-width: 820px) {
    body {
        padding: 5% 3% 5%;
    }
    main {
        font-size: 0.7rem;
    }
    .meme-img>img {
        width: 15rem;
        height: 15rem;
    }
    .pointer, .pointer2 {
        width: 0.9rem;
        height: 0.9rem;
    }
}
